

<!-- <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
<h1>Pruebaaaaa</h1>

</div>
</div>
</div> -->



<div class="modal-header bg-primary">
	<h3>Registro Pasajero</h3>
</div>

<%= render "userbook" %>
